<div class="box iniciativa-apoio">
  <h3>Iniciativa</h3>
  <div class="box-wrapper">
    <a href="http://www.al.rn.gov.br" target="_blank"><%= image_tag 'logo_assembleia.png', class: 'logo-assembleia' %></a>
    <a href="http://www.cerne.org.br" target="_blank"><%= image_tag 'logo_cerne.png' %></a>
    <a href="http://www.ctgas.com.br/" target="_blank"><%= image_tag 'logo_ctgas.png' %></a>
  </div>
</div>

<div class="box iniciativa-apoio">
  <h3>Apoio</h3>

  <div class="box-wrapper">
    <a href="http://portal.rn.sebrae.com.br/" target="_blank"><%= image_tag 'logo_sebrae.png' %></a>
    <a href="http://www.ibp.org.br/" target="_blank"><%= image_tag 'logo_ibp.png' %></a>
    <a href="http://www.oab-rn.org.br/" target="_blank"><%= image_tag 'banner_oab.png' %></a>
    <a href="http://www.abpip.com.br/" target="_blank"><%= image_tag 'banner_abpip.png' %></a>
    <a href="http://www.abeeolica.org.br/" target="_blank"><%= image_tag 'logo_abeeolica.png', class: 'logo-abeeolica' %></a>
  </div>
</div>

<div class="box">
  <h3>Multimídia</h3>
  <iframe width="305" height="305" src="http://www.youtube.com/embed/eZoKYQu0thI" frameborder="0" allowfullscreen></iframe>
</div>

<div class="box news">
  <h3>Notícias Recentes</h3>

  <a target="_blank" href="http://www.riograndedonorte.net/2012/08/28/desempenho-das-usinas-eolicas-do-rn-registra-forca-no-mes-de-julho/">
    Desempenho das usinas eólicas do RN registra força no mês de julho
  </a>

  <a target="_blank" href="http://www.riograndedonorte.net/2012/08/03/grupo-neoenergia-dobra-investimentos-no-brasil-e-rn/">
    Grupo Neoenergia dobra investimentos no Brasil e RN
  </a>

  <a target="_blank" href="http://www.riograndedonorte.net/2012/03/15/governadora-do-rn-espera-investimento-de-35-bilhoes-ate-2014-no-setor-eolico/">
    Governadora do RN espera investimento de 35 bilhões até 2014 no setor eólico
  </a>

  <a target="_blank" href="http://www.riograndedonorte.net/2012/09/12/justica-revoga-suspensao-para-parque-eolico-em-galinhos/">
    Justiça revoga suspensão para parque eólico em Galinhos
  </a>
  
  <a target="_blank" href="http://www.riograndedonorte.net/2012/07/26/classes-c-e-d-puxam-alta-no-consumo-de-energia-do-rn/">
    Classes C e D puxam alta no consumo de energia do RN
  </a>

  <a target="_blank" href="http://www.riograndedonorte.net/2012/09/03/curso-de-capacitacao-sobre-petroleo-e-gas-conta-com-grande-publico-em-natal/">
    Curso de capacitação sobre Petróleo e Gás conta com grande público em Natal
  </a>
  
  <a target="_blank" href="http://www.riograndedonorte.net/2012/08/29/convenios-vao-estimular-pesquisa-em-eolica/">
    Convênios vão estimular pesquisa em eólica
  </a>

  <a target="_blank" href="http://www.riograndedonorte.net/2012/07/12/geracao-individualizada-de-energia-realidade-cada-vez-mais-presente-no-brasil/">
    Geração individualizada de energia – realidade cada vez mais presente no Brasil
  </a>
</div>