<div class="subscribe-wrapper">
  <div class="subscribe-text">
    <h2>1° Fórum Estadual de Energia do Rio Grande do Norte - FEERN</h2>
    <small>
      Debates sobre o panorama atual do mercado energético no Rio Grande do Norte. Petróleo, gás natural, biocombustíveis, energias eólica e solar. Palestras com pesquisadores conceituados, empresários e representantes de instituições envolvidas. Excelente oportunidade para empresários, pesquisadores, profissionais técnicos e gerenciais e todos os  interessados no setor da energia. Vagas limitadas!  Clique ao lado e faça já sua inscrição! 
    </small>
  </div>
  <div class="subscribe-links">
    <div class="subscribe-buttton-programacao" >
      <a href="#">
        <%= image_tag 'pdf_icon.png' %><br />
        Programação Completa
      </a>
    </div>
    <br />
    <a class="subscribe-button" href="/inscreva-se">Inscreva-se</a>
  </div>
</div>


<h1>
  Programação Resumida
</h1>

<p class="event-place"><strong>Local:</strong> Auditório Deputado Robinson Faria ("Plenarinho") - Assembleia Legislativa do RN</p>

<h3 id="programacao-dia-1">DIA 05 DE NOVEMBRO DE 2012 (SEGUNDA-FEIRA)</h3>

<table>
  <tbody>
    <tr>
      <td>14h00 – 15h45</td>
      <td>Plenária Solene de Abertura – O RN como provedor energético regional.</td>
    </tr>
    <tr>
      <td>15h45 – 17h00</td>
      <td>Painel: Biocombustíveis no Nordeste e no RN.</td>
    </tr>
    <tr>
      <td>17h00 – 18h00</td>
      <td>Palestra: O mercado de gás natural no RN e a atuação da Potigás.</td>
    </tr>
  </tbody>
</table>

<h3 id="programacao-dia-2">DIA 06 DE NOVEMBRO DE 2012 (TERÇA-FEIRA)</h3>

<table>
  <tbody>
    <tr>
      <td>08:30 – 09:50</td>
      <td>Palestra: A Refinaria Potiguar Clara Camarão e sua importância regional e nacional</td>
    </tr>
    <tr>
      <td>09:50 – 11:00</td>
      <td>Painel: Panorama atual da exploração e produção de petróleo e gás no RN</td>
    </tr>
    <tr>
      <td>11:00 – 11:30</td>
      <td>Palestra: Energia a partir de Biomassa no RN e no Nordeste</td>
    </tr>
    <tr>
      <td>11:30 – 12:30</td>
      <td>Palestra Especial: Revolução Energética e o Potencial de Energias Renováveis no Brasil</td>
    </tr>
    <tr>
      <td>14:00 – 15:50</td>
      <td>Painel: Energia Eólica - situação atual e desafios da implantação dos parques no RN</td>
    </tr>
    <tr>
      <td>15:50 – 17:00</td>
      <td>Painel: Infraestrutura de transmissão e distribuição de energia no RN</td>
    </tr>
    <tr>
      <td>17:00 – 18:10</td>
      <td>Painel: Energia Solar: a próxima fronteira da geração energética no RN</td>
    </tr>
    <tr>
      <td>18:10</td>
      <td>Encerramento</td>
    </tr>
  </tbody>
</table>

<h3>Patrocinadores</h3>

<div class="patrocinadores">
  <a href="http://www.ale.com.br" target="_blank"><%= image_tag 'logo_ale.png', class: 'logo-ale' %></a> <br />
  

  <a href="http://www.bioconsultants.com.br" target="_blank"><%= image_tag 'logo-bioconsultants.png' %></a>
  <a href="http://www.msrenovaveis.com.br" target="_blank"><%= image_tag 'logo_ms.png' %></a>
</div>

<h3>Parceiros de Mídia</h3>

<div class="apoio-midia">
   <a href="http://www.riograndedonorte.net" target="_blank"><%= image_tag 'logo_rgnet.png' %></a>
</div>

<div class="banner-fne">
  <a href="http://www.forumnacionaleolico.com.br" target="_blank"><%= image_tag 'banner_FNE.jpg' %></a>
</div>