<div class="page-header">
  <h2>Realizar Inscrição</h2>
</div>

<p><strong>Caros interessados:</strong></p>

<p>Devido à reduzida capacidade do Plenarinho, é indispensável esta Pré-Inscrição para participar do Fórum. Ainda assim, aguarde a CONFIRMAÇÃO da mesma por email pois poderemos ter superlotação.</p>

<p>A disponibilidade de lugares sentados para quem chegar sem confirmação ou sem pré-inscrição, especialmente para a cerimônia de abertura, poderá ser incerta.</p>

<p>Agradecemos pela sua compreensão.</p>

<p>A Comissão Organizadora.</p>

<hr />

<%= simple_form_for @subscription do |f| %>
  <%= f.input :nome, label: 'Nome Completo', input_html: { class: 'span10' } %>
  
  <div class="form-inputs row">
    <%= f.input :cargo,  input_html: { class: 'span5' }, wrapper_html: { class: 'span5'} %>
    <%= f.input :cpf, label: 'CPF', input_html: { class: 'span5' },  wrapper_html: { class: 'span5 '} %>
  </div>

  <%= f.input :empresa, label: 'Empresa ou Instituição', input_html: { class: 'span10' } %>
  <%= f.input :endereco, label: 'Endereço', as: :text, input_html: { rows: 4, class: 'span10' } %>
  
  <div class="form-inputs row">
    <%= f.input :email, label: 'E-mail', input_html: { class: 'span4' }, wrapper_html: { class: 'span4 '} %>
    <%= f.input :telefone, input_html: { class: 'span3' },  wrapper_html: { class: 'span3 '} %>
    <%= f.input :skype, input_html: { class: 'span3' },  wrapper_html: { class: 'span3 '} %>
  </div>

  <div class="form-inputs row">
    <%= f.input :twitter, input_html: { class: 'span5' }, wrapper_html: { class: 'span5 '} %>
    <%= f.input :facebook, input_html: { class: 'span5' },  wrapper_html: { class: 'span5 '} %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Inscrever-se', class: 'btn btn-primary btn-large' %> <%= link_to 'Cancelar', root_path, class: 'btn btn-small btn-danger' %>
  </div>
<% end %>