<!DOCTYPE html>
<html>
<head>
  <title>Feern</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header class="site-header">
      <%= image_tag 'banner_feern.png', class: 'logo' %>
    </header>
    <div class="content">
      <div class="main-content">
        <%= yield %>
      </div>
      <div class="sidebar">
        <a href="#" class="subscribe"><h1>Inscreva-se agora!</h1></a>

        <img src="http://livingfor.tv/images/pdf.jpg" alt="" />
        <a href="#" class="schedule-pdf">Baixar Programação Detalhada</a>

        <h2>Apoio</h2>

        <img src="http://livingfor.tv/images/cerne-200x100.jpg" alt"" />
        <img src="http://livingfor.tv/images/rgnet-200x100.jpg" alt="" />
      </div>
    </div>
  </div>
</body>
</html>
